@media screen and (max-width: 384px) {
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 1.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 1050px;
        background-color: #ffffff;
    }

    .my-works {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .projects-parts {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px auto;
    }

    .hidden-item {
        display: none;
    }

    .nav-wrapper {
        display: none;
    }

    .my-project {
        margin: 20px auto;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }

    .about-me-section {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin: 0 auto;
        padding: 40px 40px;
        width: 70%;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }

    .my-photo {
        margin: 20px auto;
        width: 260px;
    }

    .my-works-section h1 {
        margin: 20px auto;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }

    .footer-navigation__item {
        margin-top: 20px;
        font-size: 0.6em;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

@media screen and (max-width: 453px) and (min-width: 384px){
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 1.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 1050px;
        background-color: #ffffff;
    }

    .my-works {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .projects-parts {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px auto;
    }

    .hidden-item {
        display: none;
    }

    .nav-wrapper {
        display: none;
    }

    .my-project {
        margin: 20px auto;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }

    .about-me-section {
        width: 100%;
        height: 940px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin: 0 auto;
        padding: 40px 40px;
        width: 70%;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }

    .my-photo {
        margin: 20px auto;
        width: 260px;
    }

    .my-works-section h1 {
        margin: 20px auto;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }

    .footer-navigation__item {
        margin-top: 20px;
        font-size: 0.6em;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

@media screen and (max-width: 580px) and (min-width: 453px) {
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 1.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 1050px;
        background-color: #ffffff;
    }

    .my-works {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .projects-parts {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px auto;
    }

    .hidden-item {
        display: none;
    }

    .nav-wrapper {
        display: none;
    }

    .my-project {
        margin: 20px auto;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }

    .about-me-section {
        width: 100%;
        height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin: 0 auto;
        padding: 40px 40px;
        width: 70%;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }

    .my-photo {
        margin: 20px auto;
        width: 260px;
    }

    .my-works-section h1 {
        margin: 20px auto;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }

    .footer-navigation__item {
        margin-top: 20px;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

@media screen and (max-width: 730px) and (min-width: 580px){
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 2.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 1050px;
        background-color: #ffffff;
    }

    .my-works {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .projects-parts {
        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px auto;
    }

    .hidden-item {
        display: none;
    }

    .nav-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .my-project {
        margin: 20px auto;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }

    .about-me-section {
        width: 100%;
        height: 620px;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin-top: 15%;
        width: 70%;
        padding: 40px 40px;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }
    .my-photo {
        margin-top: 10px;
        margin-left: 40px;
        width: 300px;
    }

    .my-works-section h1 {
        margin: 20px auto;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }

    .footer-navigation__item {
        margin-top: 20px;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

@media screen and (max-width: 940px) and (min-width: 730px) {
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 2.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 700px;
        background-color: #ffffff;
    }

    .my-works {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .projects-parts {
        width:90%;
        display: flex;
        justify-content: space-around;
        margin: 20px auto;
    }

    .hidden-item {
        display: none;
    }

    .nav-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .my-project {
        margin: auto 0;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }
    
    .about-me-section {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin-top: 15%;
        width: 70%;
        padding: 40px 40px;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }
    .my-photo {
        margin-top: 10px;
        margin-left: 40px;
        width: 300px;
    }

    .my-works-section h1 {
        margin-left: 40px;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }

    .footer-navigation__item {
        margin-top: 20px;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

@media screen and (max-width: 1245px) and (min-width: 940px) {
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 2.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 700px;
        background-color: #ffffff;
    }

    .my-works {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    .projects-parts {
        width:90%;
        display: flex;
        justify-content: space-around;
        margin: 20px auto;
    }

    .nav-item-hidden {
        display: none;
    }

    .nav-main {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .my-project {
        margin: auto 0;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }

    .about-me-section {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin-top: 15%;
        width: 70%;
        padding: 40px 40px;
        width: 70%;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }
    .my-photo {
        margin-top: 10px;
        margin-left: 40px;
        width: 300px;
    }

    .my-works-section h1 {
        margin-left: 40px;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }

    .footer-navigation__item {
        margin-top: 20px;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

@media screen and (min-width: 1245px) {
    .name {
        font-family: "Gravity-Regular", sans-serif;
        font-size: 2.4em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        color: #ffffff;
    }

    .my-works-section {
        display: flex;
        flex-direction: column;
        height: 500px;
        background-color: #ffffff;
    }
    

    .my-works {
        width: 90%;
        margin: 40px auto;
        display: flex;
        justify-content: space-between;
    }

    .projects-parts {
        display: flex;
        justify-content: space-around;
    }
    
    .part-1 {
        width: 47%;
    }

    .part-2 {
        width: 53%;
    }

    .nav-item-hidden {
        display: none;
    }

    .nav-main {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .my-project {
        margin: auto 5px;
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    }

    .about-me-section {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-between;
        background-color: #000000;
    }

    .about-me {
        margin-top: 15%;
        padding: 40px 40px;
        width: 70%;
        font-family: "Gravity-Regular", sans-serif;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: justify;
    }
    .my-photo {
        margin-top: 10px;
        margin-left: 40px;
        width: 300px;
    }

    .my-works-section h1 {
        margin-left: 40px;
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.3em;
        font-family: "Gravity-Regular", sans-serif;
        color: #000000;
    }
    .footer-navigation__item {
        margin-top: 20px;
        font-family: "Gravity-Regular", sans-serif;
        letter-spacing: 0.3px;
        color: #ffffff;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    height: auto;  
}

.nav-wrapper {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 9999;
    color: #ffffff;
}

.nav-wrapper a{
    text-decoration: none;
    color: inherit;
}

.first-scroll {
    background-color: #000000;
    color: #ffffff;
}

.first-scroll a{
    text-decoration: none;
    color: inherit;
}

.second-scroll {
    background-color: #ffffff;
    color: #000000;
}

.second-scroll a{
    text-decoration: none;
    color: inherit;
}

.nav {
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    margin-top: 15px;
    height: 50px;
    font-family: "Gravity-Regular", sans-serif;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("../assets/images/background-2.jpg") ;
    background-position: 100% center;
    background-size: cover;
    z-index: 0;
}

.header__about-me {
    width: 40%;
    height: 200px;
    margin: 20% auto;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 20%;
    margin-right: 20px;
}

.header__about-me h3{
    font-family: "Gravity-Regular", sans-serif;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 0.25em;
    color: #ffffff;
}

.contacts-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    text-align: center;
}

.contacts-item a{
    text-decoration: none;
    color: #000000;
}

.fab {
    margin-top: 7px;
}

.fa-discord,
.fa-vk {
    margin-top: 8px;
}

.contacts-item:hover {
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
    transition-duration: 0.5s;
}

.contacts-item:not(:hover) {
    transition: 0.5s;
}

.my-photo img {
    width: 220px;
    height: 300px;
    margin: 0 auto;
}

.my-photo h1 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 0.3em;
    font-family: "Gravity-Regular", sans-serif;
    color: #ffffff;
}

.my-project:hover {
    cursor: pointer;
}

.vertical-prj {
    position:relative;
    width: 204px;
    height: 240px;
}

.horisontal-prj {
    position:relative;
    width: 290px;
    height: 140px;
}

.block {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(0,0,0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.vertical-prj .block h3 {
    margin-left: 50px;
}

.vertical-prj .block p{
    padding-left: 30px;
}

.block h3 {
    margin-left: 35px;
    font-size: 1.3em;
    font-weight: lighter;
    letter-spacing: 0.2em;
    font-family: "Gravity-Regular", sans-serif;
    color: #ffffff;
}

.weather p {
    font-size: 0.8em;
}

.block p {
    font-family: "Gravity-Regular", sans-serif;
    color: #ffffff;
    text-align: justify;
    padding: 0 10px;
}

.horisontal-prj:hover .block {
    opacity: 1;
    visibility: visible;
}

.vertical-prj:hover .block {
    opacity: 1;
    visibility: visible;
} 

.contact-section {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #252525;
}

.contact-section h1 {
    margin: 20px auto;
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 0.3em;
    font-family: "Gravity-Regular", sans-serif;
    color: #ffffff;
}

.contacts-wrapper {
    width: 250px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.contacts-item-2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #ffffff;
    color: #252525;
    cursor: pointer;
}

.contacts-item-2:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

.contacts-item-2:not(:hover) {
    transition: 0.5s;
}

.contacts-item-2 a {
    color: #252525;
}

.contacts-item-2 .fab {
    margin-top: 12px;
}

.contacts-item-2 .fa-discord,
.contacts-item-2 .fa-vk {
    margin-top: 13px;
}

.footer {
    height: 60px;
    background-color: #000000;
}

.footer-navigation {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footer-navigation__item a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    position:relative;
}

.footer-navigation__item a:after {
    background-color: #ffffff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.footer-navigation__item a:hover:after,
.footer-navigation__item a:focus:after {
    width: 100%;
}